/* Scrollbar verticale */
.scroll-pane .scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-pref-width: 25px;                /* larghezza barra */
    -fx-border-color: transparent;
}

/* Track arancione */
.scroll-pane .scroll-bar:vertical .track {
    -fx-background-color: transparent;       /* arancione */
    -fx-background-radius: 4px;          /* angoli leggermente arrotondati */
    -fx-border-color: transparent;
    -fx-padding: 30 0 30 0;
}

/* Thumb arancione più corto */
.scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: #e97627;       /* arancione */
    -fx-background-radius: 4px;          /* angoli leggermente arrotondati */
    -fx-border-color: transparent;
    -fx-pref-height: 40px;               /* accorcia la barra di scorrimento */
}

/* Pulsanti su e giù quadrati */
.scroll-pane .scroll-bar:vertical .increment-button,
.scroll-pane .scroll-bar:vertical .decrement-button {
    -fx-background-color: #e97627;       /* quadrati arancioni */
    -fx-background-radius: 4px;          /* angoli leggermente arrotondati */
    -fx-border-color: transparent;
    -fx-pref-height: 20px;
    -fx-pref-width: 25px;                /* larghi quanto la barra */
    -fx-alignment: center;
    -fx-max-width: 25px;
    -fx-min-width: 25px;
}

/* Frecce bianche di default */
.scroll-pane .scroll-bar:vertical .increment-arrow,
.scroll-pane .scroll-bar:vertical .decrement-arrow {
    -fx-mark-color: white;               /* colore delle frecce */
    -fx-background-color: white;
    -fx-scale-x: 2.5;            /* ingrandisce in larghezza */
    -fx-scale-y: 1.0;            /* ingrandisce in altezza */
    -fx-padding: 2;
}

/* ScrollPane trasparente */
.scroll-pane {
    -fx-background-color: #ffffff;
}
.scroll-pane .viewport {
    -fx-background-color: #ffffff;
}

/* Nasconde la scrollbar orizzontale */
.scroll-pane .scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
}